@mixin centerer-xy() {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

@mixin centerer-x() {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

@mixin centerer-y {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}


@mixin font($family: $ff-roboto-regular, $weight: 400, $size, $transform: capitalize, $color: $color-black) {
  font-family: $family;
  font-weight: $weight;
  font-size: $size;
  color: $color;
  text-transform: $transform;
}

@mixin underline($width: 100%, $height: $line-height-size1, $margin: $sl-px, $color: $color-red) {
  content: "";
  display: block;
  width: $width;
  height: $height;
  margin-top: $margin;
  background-color: $color;

}