$ff-roboto-regular: 'roboto-regular';
$ff-roboto-medium: 'roboto-medium';
$ff-forum-regular: 'forum-regular';

$fs-title: 80px;
$fs-heading-large: 32px;
$fs-heading-medium: 28px;
$fs-text: 22px;
$fs-description: 17px;

$bg-dark: #030303;
$bg-light: #E5E5E5;

$color-light: #fff;
$color-red: #710707;
$color-gold:#9D8665;
$color-black: #000;
$color-light-grey: #666666;

$margin-medium: 5%;
$margin-form1: 50px;
$margin-form2: 35px;

$padding-main: 76px;
$padding-little: 40px;
$padding-small2: 26px;
$padding-small: 20px;

$xxxxl-px: 81px;
$xxxl-px: 76px;
$xxl-px: 67px;
$xl-px: 60px;
$m-px: 37px;
$sl-px: 26px;
$s-px: 20px;
$xs-px: 10px;

$width-line-tour: 70%;

$letter-spacing-little: 4px;
$letter-spacing-small: 2px;

$btn-br: 10px;
$btn-br-small: 2px;
$btn-border-width-circle: 1px;
$btn-br-circle: 50%;

$transition-duration: .5s;

$line-height-size1: 3px;
$line-height-size2: 2px;