$ff-roboto-regular: 'roboto-regular';
$ff-roboto-medium: 'roboto-medium';
$ff-forum-regular: 'forum-regular';

$fs-title: 80px;
$fs-heading-large: 32px;
$fs-heading-medium: 28px;
$fs-text: 22px;
$fs-description: 17px;

$bg-dark: #030303;
$bg-light: #E5E5E5;

$color-light: #fff;
$color-red: #710707;
$color-gold:#9D8665;
$color-black: #000;

$padding-main: 76px;
$padding-small2: 26px;
$padding-small: 20px;

$xxxl-px: 76px;
$xxl-px: 67px;
$xl-px: 60px;
$sl-px: 26px;
$s-px: 20px;
$xs-px: 10px;

$margin-medium: 5%;

$width-line-tour: 70%;

$letter-spacing-little: 4px;
$letter-spacing-small: 2px;

$br-btn: 10px;

$transition-duration: .5s;

$line-height-size1: 3px;
$line-height-size2: 2px;