.btn {
  padding: $sl-px $xxl-px;
  letter-spacing: $letter-spacing-small;
  border-radius: $btn-br;
  transition-property: background-color;
  transition-duration: $transition-duration;


  &--red {
    background-color: $color-red;
  }

  &--white {
    background-color: $color-light;
    color: $color-black;
  }

  &:hover,
  &:focus {
    background-color: $color-gold;
  }
}