.section-title {
  margin-bottom: $xxxl-px;
  font-family: $ff-forum-regular;
  font-weight: 400;
  font-size: $fs-title;
  letter-spacing: $letter-spacing-little;
  text-transform: uppercase;

  &::after {
    @include underline;
  }
}