.section-title {
  margin-bottom: $xxxl-px;
  font-family: $ff-forum-regular;
  font-weight: 400;
  font-size: $fs-title;
  letter-spacing: $letter-spacing-little;
  text-transform: uppercase;

  &::after {
    @include underline;
  }
}

.section-heading {
  @include font($family: $ff-roboto-medium, $size: $fs-heading-medium, $weight: 500);
}

.section-paragraph {
  @include font($size: $fs-text, $transform: none, $color: $color-light);
  line-height: 1.75;
}