.section-title {
  margin-bottom: $sl-px;
  font-family: $ff-forum-regular;
  font-weight: 400;
  font-size: $fs-title;
  letter-spacing: $letter-spacing-little;
  text-transform: uppercase;

  &--undeline {
    margin-bottom: $xxxl-px;
    padding-bottom: $sl-px;
    border-bottom: $line-height-size1 solid $color-red;
  }
}