section.picture-explore
  .container.d-flex
    .picture-explore__description.d-flex
      h2.section-title Picture explore
      .picture-explore__content
        p.section-paragraph.picture-explore__text Las Meninas is a 1656 painting by Diego Velázquez, the leading artist of the Spanish Golden Age.
        p.section-paragraph.picture-explore__text It was cleaned in 1984 to remove a <a href="#" title="you can compare the picture" class="picture-explore__text--accent">"yellow veil"</a> of dust that had gathered since the previous restoration in the 19th century.
        p.section-paragraph.picture-explore__text The cleaning provoked furious protests, not because the picture had been damaged in any way, but because it looked different.
    figure.image.picture-explore__image 
      img(src="./images/picture-explore.jpg" alt="Las Meninas: picture explore")
