section.video-journey
  .container
    .video-journey__video
      video(src="./video/video.mp4" poster="./images/poster.jpg" controls)
    .video-journey__content.d-flex
      h2.section-title Video journey
      p.section-paragraph Enter and visit one of the most famous museums in the world and enjoy masterpieces such as Mona Lisa or Hammurabi's Code